<div class="container-fluid bg-primary py-3">
    <div class="container">
        <div class="row">
        </div>
    </div>
</div>

<div class="container-fluid position-relative nav-bar p-0">
    <div class="container-lg position-relative p-0 px-lg-3" style="z-index: 9;">
        <nav class="navbar navbar-expand-lg bg-white navbar-light py-3 py-lg-0 pl-3 pl-lg-5">
            <a routerLink="/home" class="navbar-brand">
                <h1 class="m-0 text-secondary"><span class="text-primary">e</span>LAUNDRY</h1>
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
                <div class="navbar-nav ml-auto py-0">
                    <a routerLink="/home" routerLinkActive="active" class="nav-item nav-link">Home</a>
                    <a routerLink="/about" routerLinkActive="active" class="nav-item nav-link">About</a>
                    <a routerLink="/services" routerLinkActive="active" class="nav-item nav-link">Services</a>
                    <!-- <a href="pricing.html" class="nav-item nav-link">Pricing</a> -->
                    <!-- <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Pages</a>
                        <div class="dropdown-menu border-0 rounded-0 m-0">
                            <a href="blog.html" class="dropdown-item">Blog Grid</a>
                            <a href="single.html" class="dropdown-item">Blog Detail</a>
                        </div>
                    </div> -->
                    <a routerLink="/contact" routerLinkActive="active" class="nav-item nav-link">Contact</a>
                </div>
            </div>
        </nav>
    </div>
</div>
<div class="page-header container-fluid bg-primary pt-2 pt-lg-5 pb-2 mb-5">
    <div class="container py-2">
    </div>
</div>